@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,400;1,500;1,600&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.hamburguer{
    /*background-color: green;*/
    width: 2.5rem;
    height: 2.5rem;
    position: fixed;
    z-index:100;
    right: 2rem;
    top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.show-menu .hamburguer{
    right: 16rem ;
}

.line{
    width: 100%;
    height: .1rem;
    background-color: rgb(236, 226, 226);
    box-shadow: 0.1rem 0.1rem 1.5px rgb(0, 0, 0); 
    cursor: pointer;
    transition:  transform 1s;
}

.show-menu #line1{
    transform: rotate(45deg) translate(.3rem, .5rem)

}

.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3{
    transform: rotate(-45deg) translate(.3rem, -.5rem)
}

.hamburguer span{
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    opacity: 0;
}
.hamburguer span::before{
    content: "";
    position: absolute;
    border-right: .5rem solid aquamarine;
    border-top: .5rem solid transparent ;
    border-left: .5rem solid transparent ;
    border-bottom: .5rem solid transparent;
    left: -1rem;

}

.show-menu .hamburguer:hover span{
    opacity: 1;
}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 500px;
    overflow: auto ;
    background-color: rgba(0, 0, 0, 0, 8)
}

.img-wrapper img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    opacity: 0.5;
    }

    @keyframes zoom  {
    0%{
        transform: scale(1.5);
    }    
    100%{
        transform: scale(1);
    }
}

.banner{
    position: absolute;
    top: 9%;
    left: 5%;

}
.banner h1{
    color: rgb(243, 243, 243);
    font-size: 4rem;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-weight: 200;
    text-shadow: .3rem .4rem 2px rgba(155, 11, 11, 0.4);
    line-height: .1rem;
    margin-bottom: 2rem;
    animation: moveBanner 1.5s forwards ;    
    }


.banner p{
    color:  rgb(10, 204, 185);
    font-size: 5rem;
    text-shadow: .3rem .2rem 71px rgba(255, 255, 255, 0.919);
    margin-top: 1em;
    margin-bottom: 1em;
    animation: moveBanner 1.8s 0.8 forwards;
    text-align: center;
}


@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-30deg)
    }
    100%{
        transform: translateY(0rem) rotateY(0)
    }
    
}

.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: rgb(207, 201, 201);
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
}

.show-menu .sidebar{
    right: 0;
}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.menu-item{
    text-align: center;
}

.menu-link{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    color: rgb(83, 72, 72);
    transition: color 0.5s;
}

.menu-link:hover{
    color: #15822e;
}

.social-media{
    position: absolute;
    bottom: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}

.social-media i{
    color: rgb(0, 0, 0);
    height: 2.5rem;
    width: 2.5rem;
    font-size:3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.social-media i:hover{
    background-color: rgb(126, 124, 124);
}

.sessao-header{
    display: flex;
    align-items: center;
    
}

#conhecimentos{
    font-family: 'Gill Sans', sans-serif;
    font-size: 2.5rem;
    margin: 4rem;
}

.conhecimento-header{
    display: flex;
    text-align: center;
    color: white;
}

.conhecimento-header i{
    font-size: 3.4rem;
    margin-bottom: 2rem;
    padding-left: 7rem;
}

.conhecimento-header h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    padding-left: 1rem;
    margin-bottom: 2.5rem;
}